PORT=3000

PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\nMIIBOgIBAAJAcrZQV7N3X5TLTZV6xko8m9E7oNxftJn5n6jRCrM+gqvQXts4JdTv\nn9rx7soWZscOI88cpnpfhscnqL2Cp82OlwIDAQABAkA0mQfpzq5zsyQtJNcwyKVV\nxPCUZ7eydc+Rt7RyNZH6E/TEYZ6AKUbvLwQxRejmE58EdZG1V6k+K/rrPYK8K1Rh\nAiEArQ2MaJy82y3oCS5+AbMTWvJlGe1JPUsq/Jp1l7JDif8CIQCpshCdDZGJToJ6\nnQKTiPLRQ8942+d9RQ5MWu60pNQLaQIhAIgA5+KnnD1dnMjqgxlu1b1aV17DABZt\n5wDTm6t27GGdAiBMS+1AT8txqsTrkBCKePaDtDNiKa0pG5VUK0ZMHhfgkQIhAJrU\npvi0+7G7bntPuUoUt45znfhXawuSxvFhB8ENlVIZ\n-----END RSA PRIVATE KEY-----"
PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\nMFswDQYJKoZIhvcNAQEBBQADSgAwRwJAcrZQV7N3X5TLTZV6xko8m9E7oNxftJn5\nn6jRCrM+gqvQXts4JdTvn9rx7soWZscOI88cpnpfhscnqL2Cp82OlwIDAQAB\n-----END PUBLIC KEY-----"

MAXIMUM_GROUP_USERS_NUMBER=50